.main-container {
  margin-left: 280px;
  padding: 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh + 70px);
  transition: all 500ms ease-in-out;
}

.main-container-hide {
  padding: 1.5rem;
  background: #f1f5f9;
  margin-left: 0;
  min-height: calc(100vh + 70px);
  transition: all 500ms ease-in-out;
}

.page-header {
  margin-top: 4rem;
  display: flex;
}

.grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 3rem;
}